body {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    line-height: 34px;
    color: rgba(0, 0, 0, 1);
    background-color: #FFFFFF;
    margin: 0;
    max-width: 1920px;
    margin: 0 auto;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;  
    width: 600px;
    margin: 0 auto;
    align-items: center;
    margin-top: 30px;
}
input {
    width: 481px;
    height: 82px;
    background-color: rgba(217, 217, 217, 0.37);
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 36px;
    line-height: 44px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
button {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 450px;
    height: 80px;
    font-size: 26px;
    line-height: 34px;
    background-color: rgba(22, 112, 247, 0.37);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}
.form-error {
    margin: 0;
    padding: 0;
    color: red;
    font-size: 16px;
    line-height: 20px;
    }
    .text-link {
        font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
        margin-bottom: 30px;
        color: rgba(0, 0, 0, 1);
        text-decoration: none;
    }
    