body {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    line-height: 34px;
    color: rgba(0, 0, 0, 1);
    background-color: #FFFFFF;
    margin: 0;
    max-width: 1920px;
    margin: 0 auto;
}
    .main {
        width: 1920px;
        margin: 0 auto;
    }
    .hello {
        display:flex;
        width: 1920px;
        margin: 0 auto;
        justify-content: flex-end;

    }

    .hello-text {
        display: block;
        width: 700px;
        padding: 20px;
        padding-top: 50px;
        margin-right: 150px;
    }
    .opening {
        font-weight: 400;
        font-size: 26px;
        margin-left: 15px;
        line-height: 44px;
    }
    .hello-text h1 {
        font-weight: 700;
        font-size: 34px;
        line-height: 48px; 
        margin-left: 15px;
        margin-bottom: 50px;
    }
    .registration-text {
        display: block;
        border-radius: 10px;
        text-align: center;
        background-color: rgba(206, 240, 245, 1);
        border: 1px solid rgba(22, 49, 82, 0.1);
        padding: 15px;
    }
.registration-text p {
        margin-bottom: 50px;
    }
    .hello-img {
        display:block;
        margin-bottom: 0;
    }

 .join {
        background-color: rgba(206, 240, 245, 1); 
        border: 0;
        border-radius: 10px;
        width: 370px;
        padding: 15px 32px;
        text-align: center;
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
        margin-bottom: 30px;
      }

    .join a {
        color: black;
        text-decoration: none;
        font-size: 36px;
      }

.pic {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0;
  max-width: 100%;
  height: auto;
}

.image {
  margin: 0;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 250px;
  height: 320px;
  border-radius: 40px;
}

.o-nas {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: 0;
  align-self: flex-start;
  width: 200px;
  color: lightskyblue;
  border-bottom: 2px solid lightskyblue;
}

.nomera {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 0;
  margin-left: auto;
  align-self: flex-end;
  width: 200px;
  color: lightskyblue;
  border-bottom: 2px solid lightskyblue;
}

.hotel-pictures {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.room-pictures {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.title {
  align-self: center;
  font-size: 180%;
  color: darkslategray;
}

.info {
  font-style: italic;
  font-size: 18px;
}
